#root{
  padding: 0;
  margin-left: 0px;
  background-image: url('greenback.jpg');
}

body {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 .navbar {
  background-color: #283618;
  position: relative;
  /* height: 100vh;
  display: flex; */
  position: fixed; 
  height: 70px;
}

#searchBar {
  height: 25px;
  width: 200px;
  margin-bottom: 7px;
  /* position: fixed;  */

}

 #logo {
  max-width: 35%;
  max-height: 35%;
  /* margin: 15px 0 0 -5px; */
  /* display: block;
  position: absolute; */
} 

#icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
 
#cart {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-bottom: 15px;
 }

 .row {
   margin-right: 0;
 }

 .footer {
  bottom: 0;
  /* margin: 0 auto !important; */
  text-align: center;
  width: 100% ;
  /* height: 40px; */
  position: fixed;
  background-color: rgb(234, 233, 233);
  font-size: medium;
}

.form-control, .form-check {
  margin-top: 10px;
  max-width: 100%;
}

.card {
  background-color: #283618ce;
  padding: 15px;
  width: 500px;
  border-radius: 10px;
}

.card h5, h6, button {
  color: white;
} 

#root {
  padding: 0;
  margin-left: 0px;
}

.card>.card-img-top {
  aspect-ratio: 3.5/2.5;
}


.form-content .form-items {
  background-color: #283618;
  /* border: 3px solid #fff; */
  padding: 70px;
  display: inline-block;
  min-width: 640px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 150px;
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 35px;
}


 .form-content label {
  color: #fff;
  font-size: 20px;
}

.form-content input[type=email], .form-content input[type=password], .form-content input[type=text] {
  width: 100%;
  background-color: #fff;
  color: #000;
  margin-top: 6px;
  margin-bottom: 12px;
}

.form-check label  {
  font-size: 15px
}

.btn {
  float: right;
  background-color: #fff;
  color: #283618;
  margin-top: 30px;
  margin-right: 15px;
}

#morada {
  display: none;
  height: 30px;
  margin-bottom: -15px;
}

.fade:not(.show) {
  opacity: 1;
  background-color:rgba(0, 0, 0, 0.5);
}

.modal-footer button {
  margin-top: -5px;
}

#cancelar {
  background-color: lightgrey;
  color: white
}

#continue {
  background-color: #283618;
  color: white
}

.rowH {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 100px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.subtotal {
  color: red;
  display:flex;
  justify-content: right;
  align-items: right;
}

.showItems {
  margin-top: 100px;
  margin-left: 100px;
}

.rowH {
  margin-left: 20px;
}

.headline {
  margin-left: 95px;
  margin-bottom: -50px;
}

.column a {
  text-decoration: none;
}

.rowH .card {
  width: 450px;
}

.caixasComparador{
  width: 500px;
  border: 15px solid rgb(1, 59, 1);
  padding: 50px;
  margin: 20px;
}

.preco {
  border: 1px solid black ;
  width: 150px;
}

.caixaProduto{
  border: 5px solid grey ;
  padding: 50px;
  margin: 20px;
}