
body {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(green2.jpg);
}

 .navbar {
  background-color: #283618;
  position: relative;
  /* height: 100vh;
  display: flex; */
  position: fixed; 
  height: 70px;
  z-index: 1;
}

.navbar-brand {
  max-width: 17.5%;
}

.navbar-brand > img {
  min-width: 194px;
  min-height: 48px;
  max-width: 100%;
  max-height: 100%;
}

.NavDrop {
  vertical-align: middle;
  color: white;
}

.logBox {
  position: absolute;
  right:0;
}

.searchBar {
  height: 100%;
  position:relative;
  left:100%;
  margin-bottom: 7px;
  min-width: 400px;
  max-width: 400px;
  vertical-align: middle;
 
}


#icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
 
#cart {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
 }

 .row {
   margin-right: 0;
 }

 .footer {
  bottom: 0;
  /* margin: 0 auto !important; */
  text-align: center;
  width: 100% ;
  /* height: 40px; */
  position: fixed;
  background-color: rgb(234, 233, 233);
  font-size: medium;
}

.form-control, .form-check {
  margin-top: 10px;
  max-width: 100%;
}

.form-check-input {
  margin-top: 12px;
}

.card {
  background-color: #283618ce;
  padding: 15px;
  width: 500px;
  border-radius: 10px;
}

.card h5, h6, button {
  color: white;
} 

#root {
  padding: 0;
  margin-left: 0px;
}

.card>.card-img-top {
  aspect-ratio: 3.5/2.5;
}


.form-content .form-items {
  background-color: #283618;
  /* border: 3px solid #fff; */
  padding: 70px;
  display: inline-block;
  min-width: 640px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 150px;
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 35px;
}


 .form-content label {
  color: #fff;
  font-size: 20px;
}

.form-content input[type=email], .form-content input[type=password], .form-content input[type=text] {
  width: 100%;
  background-color: #fff;
  color: #000;
  margin-top: 6px;
  margin-bottom: 12px;
}

.form-check label  {
  font-size: 15px
}

.btn {
  float: right;
  background-color: #fff;
  color: #283618;
  margin-top: 30px;
  margin-right: 15px;
  border: 3px solid  #283618ce;
  border-radius: 10px;
}

#morada {
  display: none;
  height: 30px;
  margin-bottom: -15px;
}

.fade:not(.show) {
  opacity: 1;
  background-color:rgba(0, 0, 0, 0.5);
}

.modal-footer button {
  margin-top: -5px;
}

#cancelar {
  background-color: lightgrey;
  color: white
}

#continue {
  background-color: #283618;
  color: white
}

.rowH {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 100px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.subtotal {
  color: red;
  display:flex;
  justify-content: right;
  align-items: right;
}

.showItems {
  margin-top: 100px;
  margin-left: 100px;
}

.rowH {
  margin-left: 20px;
}

.headline {
  margin-left: 95px;
  margin-bottom: -50px;
}

.column a {
  text-decoration: none;
}

.rowH .card {
  width: 450px;
}

.caixasComparador{
  width: 500px;
  border: 15px solid rgb(1, 59, 1);
  padding: 50px;
  margin: 20px;
}

.preco {
  border: 1px solid black ;
  width: 150px;
}

.caixaProduto{
  border: 5px solid grey ;
  padding: 50px;
  margin: 20px;
}

.card-profile{
  display: flex;
  background-color: #283618ce;
  padding: 15px;
  border-radius: 10px;
}



/* Página Cart */
.titulo{
  margin-top: 100px;
  font-size: 50px;
  text-align:center;
}
.shopping-cart {
  width:1000px;
  height: auto;
  margin: 40px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.sumprice{
  margin-right: 30px;
}

.image > img{
  margin-right: 50px;
  height: 80%;
}
 
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
button[class*=btn1] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn1 img {
  margin-bottom: 3px;
}
.plus-btn1 img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.minus-btn1 img, .plus-btn1 img{
  height: 30%;
}

/* Confirmar Encomenda , Consumidor, Fornecedor,Product */
#centrar{
  text-align:center;
} 

/* Comparador */
#btnComprar{
  margin-Top: -20px
}

/*Pagamento */
#formPagamento{
  display: inline-block
}

/* Product */
#buttonProduct{
  color:black; 
  float:right; 
  margin:10 0 0 auto;
  height:40px; 
  width:100px
}

#profileButton{
  color:#000
}

/* Profile */
#profile{
  display:block;
  margin-Left:auto;
  margin-Right:20px; 
  width:150px
}

/*product2 */
.product-details{
  width: 100%;
  padding: 60px 10vw;
  display: flex;
  justify-content: space-between;
}

.details{
  width: 50%;
}
.details > p{
  margin-top: -30px;
}

.details .product-brand{
  text-transform: capitalize;
  font-size: 30px;
}

.details .product-short-des{
  font-size: 25px;
  line-height: 30px;
  height: auto;
  margin: 15px 0 30px;
}

.product-price{
  font-weight: 700;
  font-size: 30px;
}

.cart-btnP{
  margin-right: 2%;
}

/*MyData*/
#remove{
  background-color: #8d1a0f;
  color: #fff;
  border: none;
}


/*ArmazemRegister*/
.cardForn {
  background-color: #4e6b2dce;
  padding: 15px;
  width: 500px;
  border-radius: 10px;
}


.card-subtitle2{
  margin-top: 20px;
}
.pr{
  margin-top: 200px;
}


/*Album*/
.product-container::-webkit-scrollbar{
  display: none;
}

.product-card{
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
  margin-top: 15px;
}

.product-image{
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb{
  width: 100%;
  height: 350px;
  object-fit: cover;
}


.product-info{
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand{
  text-transform: uppercase;
}

.product-short-des{
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price{
  font-weight: 900;
  font-size: 20px;
}

.product-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: auto;
  grid-row-gap: 40px;
  margin-top: 70px;
}

/*forms*/
label{
  color: antiquewhite;
  margin-top: 10px;
}


#tipos{
  color:#000
}

#cancelar2{
  background-color: #fff;
  color:#283618
}

.catalog{
  margin-top: 100px;
}

.filtros{
  background-color: #283618;
}