body {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 /* sidebar */
.sidebar {
  background-color: #283618;
  height: 100vh;
  display: flex;
  position: fixed;
}

#logo {
  max-width: 95%;
  max-height: 95%;
  margin: 15px 0 0 -5px;
  display: block;
  position: absolute;
}

#icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#cart {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-bottom: 15px;
 }

 .dropdown-divider {
   width: 100%;
   display: block;
 }

.form-control {
  margin-top: 100px;
  max-width: 100%;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: rgb(203, 203, 203);
}

/* .nav-link:active { to add
  color: rgb(203, 203, 203);
  text-decoration: underline;
} */

.bottom {
  bottom: 0;
  position: absolute;
}

.col-2 {
  width: 280px;
  ;
}

.col-8 {
  display: flex;
  position: absolute;
}

.container {
  padding: 0;
  margin-left: 15px;
}


.form-content .form-items {
  background-color: #283618;
  /* border: 3px solid #fff; */
  padding: 70px;
  display: inline-block;
  min-width: 640px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 150px;
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 35px;
}


 .form-content label {
  color: #fff;
  font-size: 20px;
}

.form-content input[type=email], .form-content input[type=password], .form-content input[type=text] {
  width: 100%;
  background-color: #fff;
  color: #000;
  margin-top: 6px;
  margin-bottom: 12px;
}

.form-check label  {
  font-size: 15px
}

.btn {
  float: right;
  background-color: #fff;
  color: #283618;
  margin-top: 30px;
  margin-right: 15px;
}