body {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar {
  background-color: #283618;
  height: 100vh;
  display: flex;
  position: absolute;
}

#logo {
  max-width: 90%;
  max-height: 90%;
  margin: 15px 0 0 -5px;
  display: block;
  position: absolute;
}

#icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#cart {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-bottom: 15px;
 }

 .dropdown-divider {
   width: 100%;
   display: block;
 }

.form-control {
  margin-top: 100px;
  max-width: 100%;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: rgb(203, 203, 203);
}

.nav-link:active { /* to add */
  color: rgb(203, 203, 203);
  text-decoration: underline;
}

.bottom {
  bottom: 0;
  position: absolute;
}

.col-2 {
  width: 280px;
}
